*
!*/
!.gitignore
!.gitattributes

!backend/registerSubscription/registerSubscription.py
!backend/registerSubscription/requirements.txt

!backend/periodicQuery/periodicQuery.py
!backend/periodicQuery/syftsession.py
!backend/periodicQuery/requirements.txt

firebase/.gitignore
!firebase/public/index.html
!firebase/public/404.html
!firebase/public/htmlconsole.css
!firebase/public/htmlconsole.js
!firebase/public/main.js
!firebase/public/service-worker.js
